<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/style.css">
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			.title {
				padding: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
				background-color: #fff;
			}
		</style>
	</head>

	<body>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll myShop ">
				<div class="myRoomcard">
		            <p>当前房卡: <span id="roomcard">0</span></p>
		        </div>
		        <ul class="list" id="item">

		        </ul>
		        <div class="imformation">
		            <p>购买信息: 
		            	<span>
		            		<span id="shopInfo-card">100</span>
		            		房卡&nbsp;=&nbsp;
		            		<span id="shopInfo-price">50</span>
		            		元
		            	</span>
		            </p>
		        </div>
		        <div id="pay">
		        	<button class="button button-balanced" id="payment">购买</button>
		        </div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/beecloud.js"></script>
		<script>
			mui.init({
				swipeBack: false,
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						callback: pulldownRefresh
					},
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				setTimeout(function() {
					var userInfo = app.getState();
					//var unionId = userInfo.unionid;
					var unionId = 'oogiuwGonIrIb5ht3mlHG1V2J1Gc';
					var network = true;
					if(mui.os.plus){
						if(plus.networkinfo.getCurrentType()==plus.networkinfo.CONNECTION_NONE){
							network = false;
						}
						if(network){
							var url = 'https://dcyouxi.com/index.php/index/app_login';
							//发送数据
							var data = {
								unionId:unionId
							};
							mui.get(url,data,function(data){
									//非系统用户
									if(data.not_player == 1){
										mui.toast("您还没有成为友间麻将的游戏用户。");
									}else{
										//重新设置全局变量userInfo
										userInfo.uid = data.uid;
										userInfo.roomcard = data.roomcard;
										userInfo.voucher = data.voucher;
										userInfo.mobile = data.mobile;
										app.createState(userInfo, function() {
											
										});
										roomcard.innerHTML = data.roomcard;
									}
								},'json'
							);
							
						}else{
							mui.toast("当前网络不给力，请稍后再试");
						}
					}
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
					
				},1000)
			}
			
			(function($, doc) {
				$.init();
				$.plusReady(function() {
					var userInfo = app.getState();
					var roomcard = doc.getElementById('roomcard');
					var item = doc.getElementById('item');
					var shopInfo = {
						id:4,
						roomcard:100,
						price:50
					};
//					//支付的信息
//					var payData = {
//						attach:"附加信息",
//						body:"测试购买商品",
//						mch_create_ip:"127.0.0.1",
//						method:"submitOrderInfo",
//						out_trade_no:beecloud.genBillNo(),
//						total_fee:1
//					}
					
					var payData = {
						playerid:userInfo.uid,
						goodsid:4,
						method:"submitOrderInfo",
					}
					roomcard.innerHTML = userInfo.roomcard;
					
					if(mui.os.plus){
						var network = true;
						if(plus.networkinfo.getCurrentType()==plus.networkinfo.CONNECTION_NONE){
							network = false;
						}
						if(network){
							mui.get('https://dcyouxi.com/index.php/Product/get_goods','',function(data){
									if(data){
										var html = '';
										for (var i=0;i<data.length;i++)
										{
											html += '<li class="item" value="'+data[i]['id']+'">';          
											html += '<input class="card" type="hidden" value="'+data[i]['card']+'" />';         
											html += '<input class="price" type="hidden" value="'+data[i]['price']+'" />';
											html += '<img src="../img/shopList-l.png" class="shopList-l">';
											html += '<img src="../img/shopList-r.png" class="shopList-r">';
											html += '<span class="room-card">房卡×'+data[i]['card']+'</span>';
											html += '<span class="price">'+parseInt(data[i]['price'])+'元</span>';
											html += '</li>';
										}
										item.innerHTML = html;
										//默认显示50元的
										document.querySelector('.item:nth-child(4)').classList.add('activeli');
										
										mui(item).on('tap', '.item', function(e) {
											for (var i=1;i<=data.length;i++)
											{
												var itemclass = document.querySelector('.item:nth-child('+i+')');
												itemclass.classList.remove('activeli');
											}
											this.classList.add('activeli');
											shopInfo = {
												id:this.value,
												roomcard:this.querySelector('.card').value,
												price:parseInt(this.querySelector('.price').value)
											}
											//改变商品的ID
											payData.goodsid = this.value;
											doc.getElementById('shopInfo-card').innerHTML = shopInfo.roomcard;
											doc.getElementById('shopInfo-price').innerHTML = shopInfo.price;
										});
										
									}
								},'json'
							);
						}else{
							mui.toast("当前网络不给力，请稍后再试");
						}
					}
					
					mui('#pay').on('tap', '#payment', function() {
						wftPay();
					})
					
					function wftPay(){
						
						var WXPAYSERVER='https://dcyouxi.com/wxpay/request.php';
						
						mui.post(WXPAYSERVER,payData,function(data){
							//调用底层JAVA类拉起威富通微信支付
							//console.log(JSON.stringify(data))
							var WftPay = plus.android.importClass("io.dcloud.HBuilder.Hello.WftPay");
							var WftPayobj = new WftPay();
							var status = plus.android.invoke( WftPayobj, 'pay', plus.android.runtimeMainActivity(), data.token_id );
							
						},'json');
						
					}
					
				});
			}(mui, document));
		</script>
	</body>

</html>