<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/style.css">
		<style>
			html,body {
				background-color: #efeff4;
			}
			.title{
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 id="title" class="mui-title">我的首页</h1>
		</header>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="myHome mui-scroll" id="myHome">
				<div class="list">
		            <div class="head">
		                <div class="head-left"><img id="headUrl" src="../img/head.jpg"></div>
		                <div class="head-right">
		                    <h5 id="nickname"></h5>
		                    <p class="ID">ID: <span id="uid">0<span></p>
		                    <div class="phone">
		                        <img src="../img/phone.png">
		                        <span>:</span>
		                        <input type="number" id="mobile" value="" placeholder="请填写您的号码" ng-model="userPhone.mobile">
		                        <button id="save">保存</button>
		                    </div>
		                </div>
		            </div>
		            <div class="head-content">
		            	<div class="content-left line-con">
		            		<img src="../img/card.jpg">
		            		<div class="l-sign">
		            			房卡：<span class="color-fff" id="roomcard">0</span>
		            		</div>
		            	</div>
		            	<div class="content-left ">
		            		<img src="../img/juan.jpg">
		            		<div class="l-sign">
		            			礼券：<span class="color-fff" id="voucher">0</span>
		            		</div>
		            	</div>
		            </div>
		               
		                  
		        </div>
		        <div class="home-line"></div>
		        <div class="reminder">
		            <img src="../img/reminder.png">
		            <h3>热门推荐</h3>
		        </div>
		
		
		        <div class="recommend">
		            <div>
		                <a class="recommend-img" id="redeem_url" ><img src="../img/recommend1.png"></a>
		                <p class="re-line"></p>
		            </div>
		        </div>
		        <div class="recommend">
		            <div>
		                <a class="recommend-img" id="shop_url" ><img src="../img/recommend2.png"></a>
		                <p class="re-line"></p>
		            </div>
		        </div>
	        </div>
	    </div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script src="../js/app.js"></script>
	<script>
		mui.init({
			swipeBack:false, //启用右滑关闭功能
			pullRefresh: {
				container: '#pullrefresh',
				down: {
					callback: pulldownRefresh
				},
			}
		});
//		plus.nativeUI.closeWaiting();
		function pulldownRefresh(){
			setTimeout(function() {
				var userInfo = app.getState();
				var unionId = userInfo.unionid;
				var unionId = 'oogiuwPdFLgCxukS5aqIjBeCDuVg';
				var network = true;
				if(mui.os.plus){
					console.log(plus.networkinfo.CONNECTION_WIFI)
					if(plus.networkinfo.getCurrentType()==plus.networkinfo.CONNECTION_NONE){
						network = false;
					}
					if(network){
						//发送数据
						var data = {
							unionId:unionId
						};
//						plus.nativeUI.showWaiting();
						mui.get('https://dcyouxi.com/index.php/index/app_login',data,function(data){
//							plus.nativeUI.closeWaiting();
								//非系统用户
								if(data.not_player == 1){
									mui.toast("您还没有成为友间麻将的游戏用户。");
								}else{
									uid.innerHTML = data.uid;
									roomcard.innerHTML = data.roomcard;
									voucher.innerHTML = data.voucher;
									mobile.value = data.mobile;
									
									//重新设置全局变量userInfo
									userInfo.uid = data.uid;
									userInfo.roomcard = data.roomcard;
									userInfo.voucher = data.voucher;
									userInfo.mobile = data.mobile;
									app.createState(userInfo, function() {
										
									});
								}
							},'json'
						);
						
					}else{
						mui.toast("当前网络不给力，请稍后再试");
					}
				}
				mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
				
			},1000)
		}

		(function($, doc) {
			$.init();
			$.plusReady(function() {

				var userInfo = app.getState();
				//名字
				var nickname = doc.getElementById('nickname');
				//头像
				var headUrl = doc.getElementById('headUrl');
				//用户ID
				var uid = doc.getElementById('uid');
				//房卡
				var roomcard = doc.getElementById('roomcard');
				//礼券
				var voucher = doc.getElementById('voucher');
				//手机号码
				var mobile = doc.getElementById('mobile');
				
				nickname.innerHTML = userInfo.nickname;
				headUrl.src = userInfo.headimgurl;
				uid.innerHTML = userInfo.uid;
				roomcard.innerHTML = userInfo.roomcard;
				voucher.innerHTML = userInfo.voucher;
				mobile.value = userInfo.mobile;
				
				var saveButton = doc.getElementById('save');
				
				saveButton.addEventListener('tap', function() {
					var mobile = document.getElementById('mobile').value;
					if(mobile == ''){
						mui.alert("手机号码不能为空");
						return;
					}
					if(!/^1[34578]\d{9}$/.test(mobile)){
						mui.alert("请输入正确的手机号码");
						return;
					}
					var data = {mobile:mobile,unionId:userInfo.unionid};
					//var data = {mobile:mobile,unionId:'oogiuwGonIrIb5ht3mlHG1V2J1Gc'};

					mui.post('https://dcyouxi.com/index.php/login/setMobile',data,function(data){
							if(data.state == 1){
								mui.alert("修改成功！");
							}else{
								mui.alert("修改失败！");
							}
						},'json'
					);
				});
				
				//热门推荐的跳转
				doc.getElementById('redeem_url').addEventListener('tap', function() {
					mui.openWindow({
					    url:'tab-webview-subpage-exchange.html',
					    id:'tab-webview-subpage-exchange',
					    extras:{
					      product_id:2,
					    },
					    show:{
					      autoShow:true,//页面loaded事件发生后自动显示，默认为true
					      extras:{}//窗口动画是否使用图片加速
					    },
					    waiting:{
					      autoShow:true,//自动显示等待框，默认为true
					    }
					})
				})
				doc.getElementById('shop_url').addEventListener('tap', function() {
					mui.openWindow({
					    url:'tab-webview-subpage-exchange.html',
					    id:'tab-webview-subpage-exchange',
					    extras:{
					      product_id:3,
					    },
					    show:{
					      autoShow:true,//页面loaded事件发生后自动显示，默认为true
					      extras:{}//窗口动画是否使用图片加速
					    },
					    waiting:{
					      autoShow:true,//自动显示等待框，默认为true
					    }
					})
				})
			});
		}(mui, document));
		
	</script>
</html>