<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/style.css">
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			.title {
				padding: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
				background-color: #fff;
			}
		</style>
	</head>

	<body>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll exchange ">
				<div class="myRoomcard">
		            <p>当前礼券: <span id="voucher">0</span></p>
		        </div>
		        <div class="reminder">
		            <img src="../img/lipin.png">
		            <h3>热销礼品</h3>
		        </div>
		        <ul class="list" id="item">
		            
		        </ul>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script>
			mui.init({
				swipeBack: false,
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						callback: pulldownRefresh
					},
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				setTimeout(function() {
					var userInfo = app.getState();
					var unionId = userInfo.unionid;
					//var unionId = 'oogiuwGonIrIb5ht3mlHG1V2J1Gc';
					var network = true;
					if(mui.os.plus){
						if(plus.networkinfo.getCurrentType()==plus.networkinfo.CONNECTION_NONE){
							network = false;
						}
						if(network){
							var url = 'https://dcyouxi.com/index.php/index/app_login';
							//发送数据
							var data = {
								unionId:unionId
							};
							mui.get(url,data,function(data){
									//非系统用户
									if(data.not_player == 1){
										mui.toast("您还没有成为友间麻将的游戏用户。");
									}else{
										//重新设置全局变量userInfo
										userInfo.uid = data.uid;
										userInfo.roomcard = data.roomcard;
										userInfo.voucher = data.voucher;
										userInfo.mobile = data.mobile;
										app.createState(userInfo, function() {
											
										});
										voucher.innerHTML = data.voucher;
									}
								},'json'
							);
							
						}else{
							mui.toast("当前网络不给力，请稍后再试");
						}
					}
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
					
				},1000)
			}
			(function($, doc) {
				$.init();
				$.plusReady(function() {
					
				
//					plus.webview.currentWebview().canBack(function(e){
//						console.log("res:"+JSON.stringify(e))
//					})
////					
					var userInfo = app.getState();
					var voucher = doc.getElementById('voucher');
					var item = doc.getElementById('item');
					voucher.innerText = userInfo.voucher;
					
					if(mui.os.plus){
						var network = true;
						if(plus.networkinfo.getCurrentType()==plus.networkinfo.CONNECTION_NONE){
							network = false;
						}
						if(network){
							mui.get('https://dcyouxi.com/index.php/Product/index','',function(data){
									if(data){
										var html = '';
							            
										for (var i=0;i<data.length;i++)
										{
											html += '<li class="item">';          
											html += '<div class="item-top">';         
											html += '<p class="name">'+data[i]['name']+'</p>';
											html += '<p class="require-redeem"><img src="../img/juan-icon.png"><span>礼券:</span>'+data[i]['redeem_point']+'张</p>';     
											html += '</div>';     
											html += '<div class="item-bottom">'; 
											html += '<div class="cost-bg">';   
											html += '<img src="'+data[i]['img_url']+'">';
											html += '</div>';
											html += '<a><button class="button redeemButton" value="'+data[i]['id']+'">立即兑换</button></a>'; 
											html += '</div>';      
											html += '</li>';
										}
										item.innerHTML = html;
										
										mui(item).on('tap', '.redeemButton', function(e) {
											mui.openWindow({
											    url:'tab-webview-subpage-exchange.html',
											    id:'tab-webview-subpage-exchange',
											    extras:{
											      product_id:this.value,
											    },
											    show:{
											      autoShow:true,//页面loaded事件发生后自动显示，默认为true
											      extras:{}//窗口动画是否使用图片加速
											    },
											    waiting:{
											      autoShow:true,//自动显示等待框，默认为true
											    }
											})
										});
										
									}
								},'json'
							);
						}else{
							mui.toast("当前网络不给力，请稍后再试");
						}
					}
				});
			}(mui, document));

		</script>
	</body>

</html>