<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>充值房卡</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/ydui.css">
		<link rel="stylesheet" href="../css/main.css">
		<style type="text/css">
			/*.mui-bar-nav {border-bottom: 1px solid rgba(0,0,0,0.2) !important;}*/
			
			.mui-btn-warning {position: relative; width: 96%; padding: 10px 35px; margin: 0 auto 10px; border-color: #d8bcbc; text-align: left; background: #fff;}
			.mui-btn-warning span {float: left; color: #c24b42;}
			.mui-btn-warning em {float: right; color: #f4a56d;}
			.mui-btn-warning img:nth-child(1) {position: absolute; left: 0; top: 0; width: 30px; height: 30px;}
			.mui-btn-warning img:nth-child(2) {position: absolute; right: 0; top: 0; width: 30px; height: 30px;}
			/*.card_tipls{color: #2a2a2a; font-size: 14px;}*/
			.mui-btn-success {width: 80%; margin: 20px auto; background-color: #319254; border-color: #319254;}
			.active {background-color: #007aff; color: #fff !important;}
			.tips {position: absolute; top: 100%; left: 25%; font-size: 12px; color: #FF3B30;}
			/*.mask-black-dialog {background: rgba(0,0,0,0);}*/
			.mui-scroll {background: #fff !important;}
			.buy_btn {width: 80%; margin: 0 auto 30px; padding: 10px;}
		</style>
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 id="title" class="mui-title">购买房卡</h1>
		</header>
		<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
			<!---->
			<!---->
			<div class="mui-scroll">
				<!--content-->
					<div class="from_wrap" style="padding: 10px 0 0 0; margin-bottom: 20px;">
						<div class="cell clearfix">
							<label style="width: 20%;">用户ID:</label>
							<input type="tel" ref="inputUserid" class="" style="width: 76%;" id="aa" v-model="userid" :value="userid" @focus="inputFocus('isFocus')" @blur="inputBlur('isFocus')" placeholder="请输入需要充值用户ID">
							<em :class="{'clear_input': isFocus && String(userid).length>0}" @click="clearInput(userid,'inputUserid')" style="right: 8%;"></em>
							<p class="tips" style="visibility: hidden;">请输入正确的用户ID</p>
						</div>
					</div>   
					<div class="recharge_type" style="padding-top: 10px;">当前房卡:{{userInfo.roomcard}}</div>
					<div class="recharge_wrap">
						<button v-for="(item,index) in items" v-if="index<3" @click="active = index" :class="{'active': index == active}" type="button" class="mui-btn mui-btn-primary mui-btn-block mui-btn-outlined"><span>房卡×{{item.card}}</span><em>{{parseInt(item.price)}}元</em></button>
					</div>
					<div class="recharge_type" v-if="items.length>0">购买信息：{{items[active].card}}房卡={{parseInt(items[active].price)}}元</div>
					<div class="mui-content-padded">
						<button type="button" @click="payConfirm" class="mui-btn mui-btn-success mui-btn-block buy_btn">购买</button>
					</div>
				<!--content-->
			</div>
		</div>

		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/jQuery.v2.1.4.js"></script>
		<script src="../js/ydui.js"></script>
		<script src="../js/public.js"></script>
		<script>
			// 监听事件
			window.addEventListener("getUserInfo", function(data){
				vm.userInfo = event.detail;
				setTimeout(function(){
					if(mui('#refreshContainer').pullRefresh()){
						mui('#refreshContainer').pullRefresh().endPulldownToRefresh();
					}
				}, 500)
			})	
			// 派发事件
			window.getUserInfo = function(){
				plus.webview.getWebviewById(PAGE.index.id).evalJS("EVENT.getUserInfo()")
			}
		
			var vm = new Vue({
				el: ".mui-content",
				data: {
					currentWebview: null,
					userid: "", //用户输入的ID v-model
					active: 0,
					items: [],
					userInfo: app.getState(LOCAL.keys),
					isFocus: false,
				},
				created: function(){
					var _this = this;
					mui.init({
						pullRefresh: {
							container: "#refreshContainer", //下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
							down: {
								height: 50, //可选,默认50.触发下拉刷新拖动距离,
								auto: false, //可选,默认false.自动下拉刷新一次
								contentdown: "下拉可以刷新", //可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
								contentover: "释放立即刷新", //可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
								contentrefresh: "正在刷新...", //可选，正在刷新状态时，下拉刷新控件上显示的标题内容
								callback: getUserInfo,  //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
							}
						}
					});
					_this.getCardList();
					_this.userid = "uid" in _this.userInfo?_this.userInfo.uid:"";
					mui.plusReady(function() {
						_this.currentWebview = plus.webview.currentWebview();
						// 首次本地数据填充
//						mui.fire(plus.webview.getWebviewById(PAGE.sub[1].id), "getUserInfo", app.getState(LOCAL.keys));
					});
				},
				computed: {
					useridIsTrue: function(){
						return /^[0-9]{7,7}$/.test(this.userid)
					}
				},
				watch: {
					userid: function(news){
						console.log(this.useridIsTrue)
					}
				},
				methods: {
					inputFocus: function(isFocusBool){
						// isFocusBool String
						var _this = this;
						setTimeout(function(){
							_this[isFocusBool] = true;
						}, 16)
					},
					inputBlur: function(isFocusBool){
						// isFocusBool String
						var _this = this;
						setTimeout(function(){
							_this[isFocusBool] = false;
						})
					},
					clearInput: function(data, refName){
						// isFocusBool v-data
						// refName String
						this.userid = '';
						this.$refs[refName].focus();
					},
					getCardList: function(){
						var _this = this;
						app.request(API.cardList, "")
						.then(function(data){
//							console.log("房卡列表"+JSON.stringify(data))
							_this.items = data;
						})
					},
					payConfirm: function(){
						var _this = this;
						
						if(!_this.useridIsTrue) {
							return YDUI.dialog.toast("请输入正确的用户ID", "none", 1000);
						}
						YDUI.dialog.confirm('选填标题', "是否确定为<span style='color: red'>"+_this.userid+"</span>充值房卡×"+_this.items[_this.active].card, function () {
							console.log(1)
			            });
			            return;
						app.request("http://192.168.1.133/wap/request.php", {
							userid: _this.userid,
							cardid: _this.items[_this.active].id,
						}, "post")
						.then(function(res){
							 if(typeof(res) === 'string'){
			                    res = JSON.parse(res);
			                }
			                if(res.status == 500) {
			                	console.log("err:"+res.status)
			                }else{
			                	mui.openWindow({
			                		url: res.pay_info,
			                		id: res.pay_info,
			                	})
//								console.log(res.pay_info)
			                }
						})
						.catch(function(e){
							alert("请求错误:"+e)
						})
					}
					
				}
			})
		</script>
	</body>

</html>